@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
}
p.card-text {
  text-align: left;
  font-size: 1.2500rem;
}
p.desc {
  font-size: 1.4583rem;
  font-weight: bold;
  padding-bottom: 3rem;
  text-align: center;
}
.card-header h6{
  margin: 0;
  font-size: 1.3542rem;
  padding: 1rem;
}